h1{
    color: rgb(3, 3, 127);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}

h2{
    color: rgb(3, 3, 127);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.bodytext{
    color: rgb(39, 39, 172);
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
}

#container{
    width: 70%;
    margin: auto;
    overflow: hidden;
}